.mon-dash-btn {
  height: 40px;
}

.container-dashboard {
  display: flex ;
  justify-content: space-between;

  .div {
    overflow: scroll;
  }
}
.scroll-monster{
  height: 300px;
}
.button-monsters{
  background-color: white;
  color: white;
}
.adding-monster{
  margin-right: 7px;
}
.monster-name{
  h3{
    color: black;
  }

  h3:hover {
    color: rgb(120, 120, 120);
  }
}
