.home-page {
  background-color:#6a6767;
  color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 150px 0;
  height: calc(100vh - 66px);
  line-height: 60px;

  .banner-start {
    width: 100%;
    margin-top: 150px;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;

    .start-button {
      border-radius: 3px;
      background-color: black;
      width: 120px;
      text-align: center;
      margin-right: 80px;

      a {
        color: white;
        text-decoration: none;
        display: inline-block;
        width: 200px;

        &:hover {
          color: #00FF00;
          background-color: rgb(19, 19, 19);
        }
      }

    }
  }

  .fa-chevron-down {
    width: 100%;
    text-align: center;
  }
}

.banner h1 {
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 32px;
  font-weight: bold;
}

.banner p {
  font-size: 20px;
  color: white;
  opacity: 1;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
  .bold {
    color: #00FF00;
  }
}

.footer {
  background: rgb(32, 32, 32);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  color: rgba($color: white, $alpha: 0.3);
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: white;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

.section-1, .section-2, .section-3 {
  color: white;
  font-weight: bold;
  text-align: center;
  text-shadow: 1px 2px 3px rgba(255,255,255,0.2);
  border-color: #404040;
  margin-top: 100px;
  margin-bottom: 100px;
  padding: 10px;
}

.section-1, .section-3 {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
    .sub-section-1, .sub-section-3 {
      width: 60%;
      height: 100%;
      border-radius: 10px;
      background-color: #3e3d3d;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
}

.section-2 {
  display: flex;
  justify-content: space-evenly;
  height: 300px;
    .sub-section-2 {
      width: 60%;
      border-radius: 10px;
      background-color: #3e3d3d;
      display: flex;
      flex-direction: column;
      justify-content: center;
      .icon-div {
        display: flex;
        justify-content: space-evenly;
      }
    }
}

.button {
  color: white;
  text-decoration: none;
  border-radius: 3px;
  background-color: black;
  padding: 20px;

  &:hover {
    color: #00FF00;
    background-color: rgb(19, 19, 19);
    // background-color: rgba(0, 0, 0, 0.243);
  }
}

#annoying-button {
  width: max-content;
}

#scroll {
  position: relative;
  top: -150px;
}
