<div class="card">
  <h1 class="text-center">Monster Mania </h1>
</div>



<% @monsters.each do |monster| %>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h2 class="card-title"><%= monster.name %></h2>
      <a link_to  class="btn btn-primary">Go somewhere</a>
      <% end %>
    </div>
  </div>
