<div class="card">
  <h1 class="text-center">Monster Mania </h1>
</div>



<div class="row">
<% @monsters.each do |monster| %>
  <div class="col-12 col-lg-3">
      <div class="card text-center">
        <div class="card photo" class="card-img-top">
          <div class="card-body">
            <h2 class="card-title"><%= monster.name %></h2>
            <p class="card-text">Price: $<%= monster.price %></p>
            <button type="button" class="class="glow-on-hover>
            <%= link_to "monster", monster_path(monster) %></button>
          </div>
        </div>
      </div>
  </div>
<% end %>
</div>
