<div class="home-page">
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.tenor.com/d7JlQ50EAoQAAAAC/discord-discord-profil.gif);">
    <div class="container">
      <h1><strong>Monsters Market</strong></h1>
      <p>Monsters for Rent: Because sometimes a little <strong>chaos</strong> is just what your party needs!</p>
      <%= link_to 'Find Out More', "#section2", class: 'button'%>
    </div>
  </div>
  <div class="container mt-3">
    <div class="section-1">
      <h2>What we do!</h2>
      <p>Welcome to Monsters Market, where we turn your events from 'meh' to 'monstrously marvelous'! Spice up your gatherings with our hilarious monster rentals. Need a sassy Sasquatch for your soiree or a mischievous imp to crash your office party? We've got creatures for every occasion. Forget the mundane – rent a monster and let the laughter begin!</p>
      <%= link_to 'Checkout our monsters!', monsters_path, class: "button" %>
    </div>
    <div class="section-2">
      <h2>What can you do?</h2>
      <p>Browse our eclectic catalog of creatures, choose the perfect monster to spice up your event, and easily book them for a memorable experience. After your monster shenanigans, don't forget to share the laughter – leave a review and let others know how our monsters made your day legendary! Rent, book, review – it's as easy as summoning a ghost (but way more fun)!</p>
    </div>
    <div class="section-3">
      <h2>Do you have a monster to monetize?</h2>
      <p>Got a creature that deserves the spotlight? At Monsters Market, you're not just a client; you're a monster maestro! Showcase your unique monsters by listing them for rent and let others experience the magic you've created. It's your chance to unleash your imagination and share your monster masterpieces with the world. Join our community of monster enthusiasts, because who knows, your monster might be the star of someone else's party! Put your monsters up for rent and let the legendary adventures begin.</p>
      <%= link_to 'Make use of your monster!', new_user_registration_path, class: "button"%>
    </div>
  </div>
  <div class="footer">
    <div class="footer-links">
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-copyright">
      This footer is made with <i class="fas fa-heart"></i> at Le Wagon
    </div>
  </div>
</div>
