.navbar-lewagon {
  justify-content: space-between;
  background: rgb(32, 32, 32);

}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.nav-link {
  margin: 5px;
  border-radius: 22px;
  color: white;

  &:hover {
    // border-radius: 22px;
    color: grey;
    background-color: rgba(0, 0, 0, 0.243);
  }
}

.form-control {
  margin:0 5px; // for left and right margin
 }

 .form-inline {
  margin-left: 5px;
 }
