.bg-color-white {
  background-color: white;
  border-radius: 5px;
}

.search-bar-center {
  margin: auto;
}

.search-bar-button-index {
  &:hover {
    color: #00FF00;
    background-color: rgb(32, 32, 32);
  }
}

.margin-left-all-button {
  margin-left: 0.5rem;
  // color: white;
  // background-color: rgb(32, 32, 32);

  &:hover {
    color: #00FF00;
    background-color: rgb(32, 32, 32);
  }
}

.no-monster-found {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.no-monster-found img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.monsters-near {
  margin-top: 30px;
  margin-bottom: 20px;
}
