.show-photo-border-radius {
  border-radius: 10px;
}

.ability-margin {
  margin: 0;
}

.monster-spec-background-color {
  background-color: white;
  border-radius: 10px;


}

.display-ability-species-margin {
  margin-top: 3px;

  p {
    margin: 0;
    font-size: 18px;
  }

  span {
    font-weight: 700;
  }
}

h1 {
  margin: 0 0 5px 0;
}

.review-backgroud-color-white {
  background-color: white;
  border-radius: 10px;
  p {
    margin: 0;
  }
}

.left-review-card-margin {
  margin-right: 8px;
}
